@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/bebasneue/bebasneue-webfont.eot');
  src: url('../fonts/bebasneue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue/bebasneue-webfont.woff') format('woff'), url('../fonts/bebasneue/bebasneue-webfont.ttf') format('truetype'), url('../fonts/bebasneue/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_blregular';
  src: url('../fonts/proximanova/proximanova-black-webfont.eot');
  src: url('../fonts/proximanova/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-black-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-black-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-black-webfont.svg#proxima_nova_blregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgbold_italic';
  src: url('../fonts/proximanova/proximanova-boldit-webfont.eot');
  src: url('../fonts/proximanova/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-boldit-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-boldit-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_ltregular';
  src: url('../fonts/proximanova/proximanovacond-light-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-light-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-light-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-light-webfont.svg#proxima_nova_cn_ltregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_ltitalic';
  src: url('../fonts/proximanova/proximanovacond-lightit-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-lightit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-lightit-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-lightit-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-lightit-webfont.svg#proxima_nova_cn_ltitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url('../fonts/proximanova/proximanovacond-regular-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-regular-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-regular-webfont.svg#proxima_nova_cn_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgitalic';
  src: url('../fonts/proximanova/proximanovacond-regularit-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-regularit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-regularit-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-regularit-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-regularit-webfont.svg#proxima_nova_cn_rgitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_ltbold';
  src: url('../fonts/proximanova/proximanovacond-semibold-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-semibold-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-semibold-webfont.svg#proxima_nova_cn_ltbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_ltbold_italic';
  src: url('../fonts/proximanova/proximanovacond-semiboldit-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-semiboldit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-semiboldit-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-semiboldit-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-semiboldit-webfont.svg#proxima_nova_cn_ltbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_thbold';
  src: url('../fonts/proximanova/proximanova-extrabold-webfont.eot');
  src: url('../fonts/proximanova/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-extrabold-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-extrabold-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-extrabold-webfont.svg#proxima_nova_thbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltregular';
  src: url('../fonts/proximanova/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltitalic';
  src: url('../fonts/proximanova/proximanova-lightitalic-webfont.eot');
  src: url('../fonts/proximanova/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-lightitalic-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-lightitalic-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-lightitalic-webfont.svg#proxima_nova_ltitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgitalic';
  src: url('../fonts/proximanova/proximanova-regularitalic-webfont.eot');
  src: url('../fonts/proximanova/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-regularitalic-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-regularitalic-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-regularitalic-webfont.svg#proxima_nova_rgitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltbold';
  src: url('../fonts/proximanova/proximanova-semibold-webfont.eot');
  src: url('../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltbold_italic';
  src: url('../fonts/proximanova/proximanova-semibolditalic-webfont.eot');
  src: url('../fonts/proximanova/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-semibolditalic-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-semibolditalic-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-semibolditalic-webfont.svg#proxima_nova_ltbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row {
  max-width: 100%;
}
.masked {
  display: none;
}
#login-box {
  width: 320px;
  margin: 80px auto 0;
  padding: 22px 12px;
  border: 1px solid #999;
  text-align: center;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.25);
}
#login-box form {
  margin-top: 1rem;
}
#login-box .nav a {
  font-size: 0.8rem;
}
.copyright {
  font-size: 0.8rem;
}
#top-bar {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 10;
  color: #fff;
}
#top-bar p {
  margin: 0.65rem 0;
}
#top-bar .fa {
  margin-top: 1rem;
  cursor: pointer;
}
#top-bar .fa:hover {
  color: #df2438;
}
#top-bar,
#main-menu {
  background: #333333;
  position: fixed;
  z-index: 1000;
}
#main-menu,
#main-wrapper,
.content {
  height: 100%;
}
.content {
  margin-top: 50px;
}
#main-menu {
  padding-right: 0;
  padding-left: 0;
}
#main-menu ul {
  list-style-type: none;
  margin-top: 2rem;
  margin-left: 0;
}
#main-menu ul li {
  padding: 0.1rem 0.8rem;
}
#main-menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  cursor: pointer;
}
#main-menu ul li a:hover {
  color: #df2438;
}
#main-menu ul .active {
  background: #c7c7c7;
  position: relative;
}
#main-menu ul .active:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #c7c7c7;
  border-width: 20px;
  margin-top: -20px;
  z-index: 100;
}
#main-menu .cat {
  position: absolute;
  bottom: 35px;
}
#module-wrapper {
  padding: 0 2rem;
}
#module-wrapper h1 {
  font-weight: bold;
}
#module-wrapper nav {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
}
#module-wrapper nav .btn {
  font-size: 1.5rem;
  cursor: pointer;
}
#module-wrapper nav .btn:hover {
  color: #df2438;
}
#module-wrapper .masse-actions {
  display: none;
}
#module-wrapper .empty-trash {
  display: none;
  margin: 0;
  padding: 0.3rem 0.5rem;
}
#form-trad-wrapper {
  position: relative;
}
.listing ul {
  list-style-type: none;
  margin-left: 0;
}
.listing ul li {
  padding: 0.5rem 0;
  position: relative;
  line-height: 1.2rem;
}
.listing ul li input[type="checkbox"] {
  margin: 0;
}
.listing ul li small {
  color: #df2438;
}
.listing ul li:hover {
  background: #fff8e0;
}
.listing ul li .toolbox {
  height: 100%;
}
.listing ul li .toolbox .btn {
  font-size: 1.2rem;
  cursor: pointer;
}
.listing ul li .toolbox .btn:hover {
  color: #df2438;
}
.listing .main-row .fa {
  font-size: 0.8rem;
  cursor: pointer;
  color: #999999;
}
.listing .main-row .fa:hover {
  color: #df2438;
}
.listing .sub-row {
  font-weight: normal!important;
  font-style: italic;
  color: #999999;
  display: none;
}
.listing .sub-row-title {
  padding-left: 2rem;
}
.lst-header {
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  background: #f2f2f2;
}
.lst-header input {
  margin: 0;
}
#file-uploader {
  display: none;
}
#file-uploader #dropArea {
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  font-size: 2em;
  font-weight: bold;
  height: 300px;
  line-height: 300px;
  position: relative;
  text-align: center;
  width: 100%;
}
#file-uploader #dropArea:hover {
  background-color: #fdf0e3;
}
#file-uploader #dropArea:uploading {
  background: #eeeeee url(loading.gif) center 30% no-repeat;
}
#file-uploader #result .s,
#file-uploader #result .f {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#file-uploader #result .s {
  background-color: #5cb85c;
}
#file-uploader #result .f {
  background-color: #d9534f;
}
#file-uploader .info {
  margin-top: 1rem;
}
#file-uploader label {
  font-size: 0.8rem;
  color: #cccccc;
  font-style: italic;
}
#file-uploader .progress-bar {
  display: none;
  width: 0%;
  height: 20px;
  background: #cfecda;
  border: 1px solid #85d0a1;
  text-align: center;
  color: #999999;
  font-size: 0.7rem;
  line-height: 1.1rem;
}
.overlayed-panel {
  position: absolute;
  width: 80%;
  top: 136px;
  left: -1500px;
}
.overlayed-panel .lst-header {
  padding: 0.5rem 1rem;
}
.overlayed-panel .btn {
  cursor: pointer;
}
.overlayed-panel .btn:hover {
  color: #df2438;
}
.overlayed-panel #wrapper-sharing {
  background: #f2f2f2;
  background: white;
  border: 1px solid #cccccc;
}
#Container .mix {
  display: none;
  padding: 0.2rem 1.2rem;
}
#Container .mix .row {
  background: #f2f2f2;
  padding: 0.5rem 0.1rem;
}
#Container .mix .row:hover {
  background: #fdf0e3;
  cursor: pointer;
}
#Container .mix .row i {
  display: none;
  color: #43ac6a;
}
#Container .mix .active {
  background: #cfecda;
  cursor: pointer;
}
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  border-style: none;
  border-width: 0;
  border-color: #e6e6e6;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: none;
  transition: none;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
  background: white;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: none;
}
.ui-datepicker {
  background: white;
  border: 1px solid #e6e6e6;
  padding: 0.5rem;
  position: relative;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 0;
}
.ui-datepicker .ui-datepicker-prev {
  left: 8px;
}
.ui-datepicker .ui-datepicker-next {
  right: 8px;
}
.ui-datepicker .ui-datepicker-header {
  margin-top: 0.8rem;
  text-align: center;
}
.ui-datepicker .ui-datepicker-today {
  background: #cccccc;
  color: white;
  font-weight: bold;
}
.ui-datepicker table tbody tr td:hover {
  background: #e6e6e6;
}
