@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/bebasneue/bebasneue-webfont.eot');
  src: url('../fonts/bebasneue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue/bebasneue-webfont.woff') format('woff'), url('../fonts/bebasneue/bebasneue-webfont.ttf') format('truetype'), url('../fonts/bebasneue/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_blregular';
  src: url('../fonts/proximanova/proximanova-black-webfont.eot');
  src: url('../fonts/proximanova/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-black-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-black-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-black-webfont.svg#proxima_nova_blregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgbold_italic';
  src: url('../fonts/proximanova/proximanova-boldit-webfont.eot');
  src: url('../fonts/proximanova/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-boldit-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-boldit-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_ltregular';
  src: url('../fonts/proximanova/proximanovacond-light-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-light-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-light-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-light-webfont.svg#proxima_nova_cn_ltregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_ltitalic';
  src: url('../fonts/proximanova/proximanovacond-lightit-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-lightit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-lightit-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-lightit-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-lightit-webfont.svg#proxima_nova_cn_ltitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url('../fonts/proximanova/proximanovacond-regular-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-regular-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-regular-webfont.svg#proxima_nova_cn_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgitalic';
  src: url('../fonts/proximanova/proximanovacond-regularit-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-regularit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-regularit-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-regularit-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-regularit-webfont.svg#proxima_nova_cn_rgitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_ltbold';
  src: url('../fonts/proximanova/proximanovacond-semibold-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-semibold-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-semibold-webfont.svg#proxima_nova_cn_ltbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_ltbold_italic';
  src: url('../fonts/proximanova/proximanovacond-semiboldit-webfont.eot');
  src: url('../fonts/proximanova/proximanovacond-semiboldit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanovacond-semiboldit-webfont.woff') format('woff'), url('../fonts/proximanova/proximanovacond-semiboldit-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanovacond-semiboldit-webfont.svg#proxima_nova_cn_ltbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_thbold';
  src: url('../fonts/proximanova/proximanova-extrabold-webfont.eot');
  src: url('../fonts/proximanova/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-extrabold-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-extrabold-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-extrabold-webfont.svg#proxima_nova_thbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltregular';
  src: url('../fonts/proximanova/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltitalic';
  src: url('../fonts/proximanova/proximanova-lightitalic-webfont.eot');
  src: url('../fonts/proximanova/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-lightitalic-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-lightitalic-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-lightitalic-webfont.svg#proxima_nova_ltitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgitalic';
  src: url('../fonts/proximanova/proximanova-regularitalic-webfont.eot');
  src: url('../fonts/proximanova/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-regularitalic-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-regularitalic-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-regularitalic-webfont.svg#proxima_nova_rgitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltbold';
  src: url('../fonts/proximanova/proximanova-semibold-webfont.eot');
  src: url('../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltbold_italic';
  src: url('../fonts/proximanova/proximanova-semibolditalic-webfont.eot');
  src: url('../fonts/proximanova/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova/proximanova-semibolditalic-webfont.woff') format('woff'), url('../fonts/proximanova/proximanova-semibolditalic-webfont.ttf') format('truetype'), url('../fonts/proximanova/proximanova-semibolditalic-webfont.svg#proxima_nova_ltbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wide-row {
  max-width: 100%;
}
.masked {
  display: none;
}
.row {
  margin: 0 !important;
}
#login-box,
#verif-box {
  width: 320px;
  margin: 80px auto 0;
  padding: 22px 12px;
  border: 1px solid #999;
  text-align: center;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.25);
}
#login-box form,
#verif-box form {
  margin-top: 1rem;
}
#login-box .nav a,
#verif-box .nav a {
  font-size: 0.8rem;
}
#verif-box {
  width: 800px;
}
#verif-box h1,
#verif-box h2 {
  border-bottom: 1px solid #999;
}
#verif-box h2 {
  font-size: 1.3rem;
  color: #999;
  font-style: italic;
  margin-top: 1rem;
}
#verif-box .notmatch {
  background: #fde7e3;
}
#verif-box .match {
  background: #cfecda;
}
.copyright {
  font-size: 0.8rem;
}
#top-bar {
  background: #333333;
  position: fixed;
  height: 110px;
  top: 0;
  left: 0;
  color: #fff;
  padding-top: 1rem;
  z-index: 100;
}
#top-bar img {
  width: auto;
  margin-top: 0.5rem;
  height: 60px;
  position: absolute;
}
#top-bar p {
  margin: 0.1rem 0 0rem;
  text-align: right;
  position: relative;
}
#top-bar .fa {
  cursor: pointer;
}
#top-bar .fa:hover {
  color: #df2438;
}
.main-content {
  padding-top: 110px;
}
.content {
  padding: 1rem;
}
nav {
  background: none repeat scroll 0 0 #f2f2f2;
  border-bottom: 1px none #d9d9d9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 1rem 0;
}
nav ul {
  margin: 0 !important;
  text-align: center;
}
nav ul li {
  margin: 0 0.5rem ;
  display: inline-block;
}
nav ul li a {
  font-size: 1.5rem;
  color: #666666;
  transition: color 0.5s ease;
}
nav ul li a:hover {
  color: #333333;
}
nav ul li.active a {
  color: #333333;
}
nav ul li.active a:after {
  background: #333333;
  content: "";
  display: block;
  height: 0.10rem;
  margin: 0.1rem auto;
  width: 3.5rem;
}
.content-wrap {
  margin-top: 50px;
}
.toolbox .tool-label ul {
  margin: 0 !important;
}
.toolbox .tool-label ul li {
  display: inline-block;
}
.toolbox .tool-search input {
  height: 1.9rem;
  margin: 0;
  font-size: 0.9rem;
}
.toolbox .filter {
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  transition: background-color 0.5s ease;
}
.toolbox .filter:hover {
  cursor: pointer;
}
.toolbox .filter.doc.all {
  background: #00394c;
  color: white;
}
.toolbox .filter.doc.all:hover {
  background: #002633;
}
.toolbox .filter.video.all {
  background: #504897;
  color: white;
}
.toolbox .filter.video.all:hover {
  background: #474086;
}
.toolbox .filter.documents {
  background: #005f7f;
  color: white;
}
.toolbox .filter.documents:hover {
  background: #007299;
}
.toolbox .filter.diapo {
  background: #0098cc;
  color: white;
}
.toolbox .filter.diapo:hover {
  background: #00abe6;
}
.toolbox .filter.news {
  background: #32ccff;
  color: white;
}
.toolbox .filter.news:hover {
  background: #4cd2ff;
}
.toolbox .filter.progs {
  background: #7ddfff;
  color: white;
}
.toolbox .filter.progs:hover {
  background: #97e5ff;
}
.toolbox .filter.tutos {
  background: #6c61cc;
  color: white;
}
.toolbox .filter.tutos:hover {
  background: #7e74d2;
}
.toolbox .filter.quicky {
  background: #9a8fff;
  color: white;
}
.toolbox .filter.quicky:hover {
  background: #b1a9ff;
}
.item-list {
  padding: 1rem 0 0 0;
}
.item-list ul {
  margin: 0;
}
.item-list ul li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.3rem;
}
.item-list ul li.mix {
  display: none;
}
.item-list ul li.mix a,
.item-list ul li.mix .video {
  display: block;
  background: #f2f2f2;
  border: 1px solid #cccccc;
}
.item-list ul li.mix a .etiquette,
.item-list ul li.mix .video .etiquette {
  border-bottom: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  position: absolute;
  width: 0;
}
.item-list ul li.mix a .content,
.item-list ul li.mix .video .content {
  padding: 1rem;
}
.item-list ul li.mix a .content h2,
.item-list ul li.mix .video .content h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
}
.item-list ul li.mix a .content h3,
.item-list ul li.mix .video .content h3 {
  font-size: 0.9rem;
  font-weight: normal;
  color: #999999;
}
.item-list ul li.mix.category-news .etiquette {
  border-left: 30px solid #32ccff;
}
.item-list ul li.mix.category-doc .etiquette {
  border-left: 30px solid #005f7f;
}
.item-list ul li.mix.category-diapo .etiquette {
  border-left: 30px solid #0098cc;
}
.item-list ul li.mix.category-prog .etiquette {
  border-left: 30px solid #7ddfff;
}
.item-list ul li.mix.category-tuto .etiquette {
  border-left: 30px solid #6c61cc;
}
.item-list ul li.mix.category-quicky .etiquette {
  border-left: 30px solid #9a8fff;
}
.no-result {
  display: none;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
  font-weight: 300;
}
#docsMyEqnx.fail .no-result {
  display: block;
  color: #0098cc;
}
#videosMyEqnx.fail .no-result {
  display: block;
  color: #9a8fff;
}
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  border-style: none;
  border-width: 0;
  border-color: #e6e6e6;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: none;
  transition: none;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
  background: white;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: none;
}
@media only screen and (min-width: 40.063em) {
  .item-list ul li {
    width: 49.5% !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .item-list ul li {
    width: 33% !important;
  }
}
